<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <title>MAS APP</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/styles.css}" />
    <link rel="stylesheet" th:href="@{/css/fontawasome/css/font-awesome.min.css}">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<header th:fragment="header">
    <a class="logo-wrap">
        <i class="fa fa-wrench logo" aria-hidden="true"></i>
        <p>Car <span>FIX</span></p>
    </a>
    <div class="logout-wrap">
        <i class="fa fa-sign-out link" aria-hidden="true"></i>
        <a class="logout link" th:fragment="logout" th:href="@{/logout}">Logout</a>
    </div>
</header>
<aside th:fragment="navigation" class="side-nav">
    <nav>
        <ul>
            <li class="nav-item">
                <i class="fa fa-list-ul" aria-hidden="true"></i>
                <a th:href="@{/order/all}">Lista zamowień</a>
            </li>
            <li class="nav-item">
                <i class="fa fa-plus-circle" aria-hidden="true"></i>
                <a th:href="@{/order/new}">Dodaj zamówienie</a>
            </li>
            <li class="nav-item">
                <i class="fa fa-file-text-o" aria-hidden="true"></i>
                <a th:href="@{/reports/all}">Raporty</a>
            </li>
        </ul>
    </nav>
</aside>
<footer th:fragment="footer">
    <p>&copy; Copyright - Janusz Chludziński </p>
</footer>

</body>
</html>