<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace = "basic_template :: head">

</head>
<body>
    <form th:action="@{/login}" method="POST">
        <label for="email">Email</label>
        <input type="text" name="email" id="email">

        <label for="password"></label>
        <input type="password" name="password" id="password">

        <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
    </form>
    <div th:if="${param.error}">Blad logowanie, podane parametry nie sa prawidlowe</div>
    <div th:if="${param.logout}">Zostales pomyslnie wylogowany, zaloguj sie ponownie</div>
</body>
</html>