<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head th:replace = "basic_template :: head">

</head>
<body>
    <div class="wrap">

        <div class="login-logo-wrap">
            <div class="login-logo fa fa-wrench" aria-hidden="true"></div>
            <p>Car<span>FIX</span></p>
        </div>
        <form class="login-box" th:action="@{/login}" method="POST">
            <div class="login-input-wrap">
                <label for="email">Email</label>
                <input type="text" name="email" id="email">
            </div>

            <div class="login-input-wrap">
                <label for="password">Hasło</label>
                <input type="password" name="password" id="password">
            </div>

            <button name="Submit" value="Login" type="Submit" th:text="Login"></button>
        </form>
        <div class="info login-error" th:if="${param.error}">Blad logowania, podane parametry nie sa prawidlowe</div>
        <div class="info success" th:if="${param.logout}">Zostales pomyslnie wylogowany, zaloguj sie ponownie</div>
    </div>
</body>
</html>