<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="basic_template :: head">
</head>
<body>
    <header th:replace="basic_template :: header"></header>
    <aside th:replace="basic_template :: navigation"></aside>
    <main>
        <h1>Nowe zamówienie</h1>

        <form action="" th:action="@{/order/new}" method="post" th:object="${orderDTO}">
            <fieldset>
                <h2>Informacje o aucie</h2>
                <div class="input-wrap">
                    <label for="brand">Marka</label>
                    <input th:field="*{brand}" type="text" name="brand" id="brand">
                    <p class="error" th:if="${#fields.hasErrors('brand')}" th:errors="*{brand}"></p>
                </div>
                <div class="input-wrap">
                    <label for="model">Model</label>
                    <input th:field="*{model}" type="text" name="model" id="model">
                    <p class="error" th:if="${#fields.hasErrors('model')}" th:errors="*{model}"></p>
                </div>
                <div class="input-wrap">
                    <label for="registration">Numer rejestracyjny</label>
                    <input th:field="*{registration}" type="text" name="registration" id="registration">
                    <p class="error" th:if="${#fields.hasErrors('registration')}" th:errors="*{registration}"></p>
                </div>
                <div class="input-wrap">
                    <label for="engineType">Typ silnika</label>
                    <input th:field="*{engineType}" type="text" name="engineType" id="engineType">
                    <p class="error" th:if="${#fields.hasErrors('engineType')}" th:errors="*{engineType}"></p>
                </div>
                <div class="input-wrap">
                    <label for="prodYear">Rok produkcji</label>
                    <input th:field="*{prodYear}" type="text" name="prodYear" id="prodYear">
                    <p class="error" th:if="${#fields.hasErrors('prodYear')}" th:errors="*{prodYear}"></p>
                </div>
                <div class="input-wrap">
                    <label for="extraInfo">Informacje dodatkowe</label>
                    <textarea th:field="*{info}" name="extraInfo" id="extraInfo"></textarea>
                </div>
            </fieldset>

            <fieldset>
                <h2>Informacje o właścicielu</h2>
                <div class="input-wrap">
                    <label for="firstName">Imię</label>
                    <input th:field="*{firstName}" type="text" name="firstName" id="firstName">
                    <p class="error" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></p>
                </div>
                <div class="input-wrap">
                    <label for="lastName">Nazwisko</label>
                    <input th:field="*{lastName}" type="text" name="lastName" id="lastName">
                    <p class="error" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>
                </div>
                <div class="input-wrap">
                    <label for="email">E-mail</label>
                    <input th:field="*{email}" type="email" name="email" id="email">
                    <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </div>
                <div class="input-wrap">
                <label for="phone">Telefon</label>
                    <input th:field="*{phone}" type="text" name="phone" id="phone">
                    <p class="error" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></p>
                </div>
            </fieldset>

            <fieldset>
                <h2>Usługi wykupione do zamówienia</h2>
                <div class="input-wrap">
                    <label for="breaks">Hamulce</label>
                    <input type="checkbox" name="service" id="breaks" value="Hamulce">
                </div>
                <div class="input-wrap">
                    <label for="electrics">Elektryka</label>
                    <input type="checkbox" name="service" id="electrics" value="Elektryka">
                </div>
                <div class="input-wrap">
                    <label for="body">Blacharka</label>
                    <input type="checkbox" name="service" id="body" value="Blacharka">
                </div>
                <div class="input-wrap">
                    <label for="engine">Silnik</label>
                    <input type="checkbox" name="service" id="engine" value="Silnik">
                </div>
                <div class="input-wrap">
                    <label for="fluids">Płyny</label>
                    <input type="checkbox" name="service" id="fluids" value="Płyny">
                </div>
            </fieldset>

            <fieldset>
                <h2>Mechanik przypisany do zamówienia</h2>

                <label for="mechanic">Mechanik</label>
                <select class="select-input" id="mechanic" name="mechanic" >
                    <option th:each="mechanic : ${mechanics}" th:value="${mechanic.email}" th:text="${mechanic.email}"></option>
                </select>
            </fieldset>
            <div class="order-submit">
                <button th:type="submit">Zarejestruj zamówienie</button>
                <a th:href="@{/order/all}">Anuluj</a>

            </div>
        </form>
    </main>
    <footer th:replace="basic_template :: footer"></footer>
</body>
</html>